.landing-page .image-1 {
  background: url('../assets/images/image.png');
  margin-right: 33px;
  width: 70px;
  height: 78px;
}
.landing-page .comment-analyze-1 {
  margin: 21px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #FFFFFF;
}
.landing-page .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .iniciar-sesin {
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .button-27 {
  border-radius: 6px;
  background: #FFFFFF;
  margin-right: 13px;
  padding: 12px 20px;
  width: 148px;
  box-sizing: border-box;
}
.landing-page .registrarse {
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .button-26 {
  border-radius: 8px;
  background: #FFFFFF;
  padding: 12px 20px;
  width: 132px;
  box-sizing: border-box;
}
.landing-page .container-13 {
  margin: 13px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.landing-page .container-64 {
  box-shadow: 0px 0px 2px 0px rgba(23, 26, 31, 0.2), 0px 4px 9px 0px rgba(23, 26, 31, 0.19);
  background: #003972;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7px 28px;
  width: 1440px;
  box-sizing: border-box;
}
.landing-page .image {
  background: url('../assets/images/image.png');
  margin-right: 28.6px;
  width: 300px;
  height: 334px;
}
.landing-page .comment-analyze {
  margin: 0 27.6px 13px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 70px;
  line-height: 1.314;
  color: #003972;
}
.landing-page .descubre-oportunidades-de-negocio-ocultas-en-los-comentarios-de-youtube-utiliza-nuestras-herramientas-avanzadas-de-anlisis-de-datos-para-obtener-insights-valiosos {
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  color: #171A1F;
}
.landing-page .container-58 {
  background: #DEE1E6;
  margin-bottom: 773px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0 187px 0;
  width: 1440px;
  box-sizing: border-box;
}
.landing-page .analticas {
  margin: 0 44px 47px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.313;
  color: #003972;
}
.landing-page .comentarios {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .rectangle-39 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 28px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-36 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 26px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-37 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 29px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-38 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .container-4 {
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46px;
  box-sizing: border-box;
}
.landing-page .frame {
  width: 301px;
  height: 130px;
}
.landing-page .line-chart-4 {
  margin: 6px 0 7px 0;
  display: flex;
  width: 301px;
  height: 130px;
  box-sizing: border-box;
}
.landing-page .container-16 {
  margin: 0 8px 37px 0;
  display: flex;
  flex-direction: row;
  width: 361px;
  box-sizing: border-box;
}
.landing-page .rectangle-40 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-41 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-42 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-43 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .container-5 {
  margin: 0 0 8px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 254px;
  box-sizing: border-box;
}
.landing-page .rectangle-44 {
  border-radius: 8px;
  background: #003972;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-45 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-22 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .rectangle-47 {
  border-radius: 8px;
  background: #90C7FF;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-46 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-20 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .container-7 {
  margin-left: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 157px;
  box-sizing: border-box;
}
.landing-page .container-78 {
  border-radius: 12px;
  border: 1px solid #DEE1E6;
  background: #FFFFFF;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 13px 7px 13px;
  box-sizing: border-box;
}
.landing-page .palabras-ms-utilizadas {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .rectangle-57 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 28px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-54 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 26px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-55 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 29px;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-56 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .container-10 {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46px;
  box-sizing: border-box;
}
.landing-page .rectangle {
  background: #E976C5;
  margin: 60px 3.9px 0px 0;
  width: 17.7px;
  height: 68px;
}
.landing-page .rectangle-1 {
  background: #F8D3EC;
  margin: 0 24.6px 0px 0;
  width: 17.7px;
  height: 128px;
}
.landing-page .rectangle-2 {
  background: #E976C5;
  margin: 90.7px 3.9px 0px 0;
  width: 17.7px;
  height: 37.3px;
}
.landing-page .rectangle-3 {
  background: #F8D3EC;
  margin: 23.3px 24.6px 0px 0;
  width: 17.7px;
  height: 104.7px;
}
.landing-page .rectangle-4 {
  background: #E976C5;
  margin: 27.3px 3.9px 0px 0;
  width: 17.7px;
  height: 100.7px;
}
.landing-page .rectangle-5 {
  background: #F8D3EC;
  margin: 32.7px 24.6px 0px 0;
  width: 17.7px;
  height: 95.3px;
}
.landing-page .rectangle-6 {
  background: #E976C5;
  margin: 58px 3.9px 0px 0;
  width: 17.7px;
  height: 70px;
}
.landing-page .rectangle-7 {
  background: #F8D3EC;
  margin: 6px 24.6px 0px 0;
  width: 17.7px;
  height: 122px;
}
.landing-page .rectangle-8 {
  background: #E976C5;
  margin: 98.7px 3.9px 0 0;
  width: 17.7px;
  height: 29.3px;
}
.landing-page .rectangle-9 {
  background: #F8D3EC;
  margin: 2px 0 0px 0;
  width: 17.7px;
  height: 126px;
}
.landing-page .column-bar-chart-2 {
  margin: 5px 0 10px 0;
  display: flex;
  flex-direction: row;
  width: 295px;
  height: fit-content;
  box-sizing: border-box;
}
.landing-page .container-18 {
  margin: 0 8px 37px 0;
  display: flex;
  flex-direction: row;
  width: 361px;
  box-sizing: border-box;
}
.landing-page .rectangle-58 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-59 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-60 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .rectangle-61 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 46px;
  height: 15px;
}
.landing-page .container-2 {
  margin: 0 0 8px 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 254px;
  box-sizing: border-box;
}
.landing-page .rectangle-62 {
  border-radius: 8px;
  background: #E976C5;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-63 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-19 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .rectangle-65 {
  border-radius: 8px;
  background: #F8D3EC;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-64 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-17 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .container-12 {
  margin-left: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 157px;
  box-sizing: border-box;
}
.landing-page .container-80 {
  border-radius: 12px;
  border: 1px solid #DEE1E6;
  background: #FFFFFF;
  margin-right: 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 13px 7px 13px;
  box-sizing: border-box;
}
.landing-page .tendencias {
  margin-bottom: 21px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .chart {
  width: 120px;
  height: 120px;
}
.landing-page .pie-chart-3 {
  margin-right: 29px;
  display: flex;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}
.landing-page .chart-1 {
  width: 120px;
  height: 120px;
}
.landing-page .pie-chart-4 {
  display: flex;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}
.landing-page .container-14 {
  margin: 0 0 48px 2px;
  display: flex;
  flex-direction: row;
  width: 269px;
  box-sizing: border-box;
}
.landing-page .rectangle-48 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 89px;
  height: 15px;
}
.landing-page .rectangle-53 {
  border-radius: 4px;
  background: #F3F4F6;
  width: 89px;
  height: 15px;
}
.landing-page .container-3 {
  margin: 0 0 14px 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 233px;
  box-sizing: border-box;
}
.landing-page .rectangle-49 {
  border-radius: 8px;
  background: #50B4BD;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-50 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-6 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .rectangle-52 {
  border-radius: 8px;
  background: #CBE9EB;
  margin-right: 5px;
  width: 16px;
  height: 16px;
}
.landing-page .rectangle-51 {
  border-radius: 4px;
  background: #F3F4F6;
  margin-bottom: 1px;
  width: 46px;
  height: 15px;
}
.landing-page .container-21 {
  display: flex;
  flex-direction: row;
  width: 67px;
  box-sizing: border-box;
}
.landing-page .container-9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 157px;
  box-sizing: border-box;
}
.landing-page .container-79 {
  border-radius: 12px;
  border: 1px solid #DEE1E6;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 13px 7px 13px;
  width: 397px;
  box-sizing: border-box;
}
.landing-page .container-77 {
  border-radius: 8px;
  background: #DEE1E6;
  display: flex;
  flex-direction: row;
  padding: 48px 9px 72px 10px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .container-76 {
  background: #DEE1E6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 63px 64px 147px 93px;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .comencemos {
  margin: 0 3px 49px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 64px;
  line-height: 1.313;
  color: #171A1F;
}
.landing-page .edit-curves-3 {
  width: 24px;
  height: 24px;
}
.landing-page .container-67 {
  border-radius: 25px;
  background: #F0F7FF;
  margin-right: 16px;
  display: flex;
  padding: 13px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.landing-page .toma-decisiones {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #171A1F;
}
.landing-page .container-66 {
  border-radius: 6px;
  border: 1px solid #F3F4F6;
  background: #FFFFFF;
  margin-right: 32px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 15px;
  width: 276px;
  box-sizing: border-box;
}
.landing-page .chart-bar-333 {
  width: 24px;
  height: 24px;
}
.landing-page .container-73 {
  border-radius: 25px;
  background: #FFF9E9;
  margin-right: 16px;
  display: flex;
  padding: 13px;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}
.landing-page .identifica-oportunidades {
  margin: 12px 0 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #171A1F;
}
.landing-page .container-72 {
  border-radius: 6px;
  border: 1px solid #F3F4F6;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
}
.landing-page .container-15 {
  margin-bottom: 61px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.landing-page .comenzar {
  overflow-wrap: break-word;
  font-family: 'Sarabun';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #FFFFFF;
}
.landing-page .button-28 {
  border-radius: 8px;
  background: #003972;
  margin-right: 1px;
  display: flex;
  padding: 12px 0 12px 0.5px;
  width: 293px;
  box-sizing: border-box;
}
.landing-page .container-65 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 0 247px 0;
  width: 1440px;
  box-sizing: border-box;
}
.landing-page .container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.landing-page .ventajas {
  margin: 0 0 51px 13.9px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 70px;
  line-height: 1.314;
  color: #003972;
}
.landing-page .identificacin-de-tendencias {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #323743;
}
.landing-page .permite-alas-empresas-identificar-tendencias-emergentes-ynecesidades-del-mercado-al-analizar-los-comentarios-de-you-tube-al-comprender-lo-que-los-clientes-valoran-ycritican-las-empresas-pueden-ajustar-sus-productos-yservicios-para-satisfacer-mejor-estas-demandas {
  margin-bottom: 20px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .mejora-de-productos-yservicios {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #323743;
}
.landing-page .al-extraer-insights-valiosos-de-los-comentarios-las-empresas-pueden-realizar-mejoras-especficas-en-sus-productos-yservicios-mejorando-la-satisfaccin-del-cliente-yaumentando-la-lealtad-yretencin-de-clientes {
  margin: 0 32.9px 37px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .toma-de-decisiones-basada-en-datos {
  margin-bottom: 23px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #323743;
}
.landing-page .este-proyecto-facilita-una-toma-de-decisiones-ms-informada-yprecisa-mediante-el-uso-de-anlisis-de-datos-avanzados-en-lugar-de-basarse-en-suposiciones-ointuiciones-las-empresas-pueden-utilizar-datos-reales-yanlisis-de-comentarios-para-guiar-sus-decisiones-estratgicas {
  margin-right: 17.2px;
  overflow-wrap: break-word;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #171A1F;
}
.landing-page .container-11 {
  margin-right: 50.5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.landing-page .image-27 {
  background: url('../assets/images/image_27.png');
  margin: 54px 0 91px 0;
  width: 546px;
  height: 348px;
}
.landing-page .container {
  display: flex;
  flex-direction: row;
  width:inherit;
  box-sizing: border-box;
}
.landing-page .container-74 {
  background: #F8F9FA;
  position: absolute;
  left: 0px;
  top: 898px;
  right: 0px;
  display: flex;
  flex-direction: column;
  padding: 8px 50px 75px 56px;
  box-sizing: border-box;
  width: 1440px;
}
.landing-page {
  box-shadow: 0px 3px 6px 0px rgba(18, 15, 40, 0.12);
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
