.body{
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 204);
    margin: 0;
    padding: 0;
    height: 80px;
    box-shadow: 0 2px 10px  rgb(158, 158, 158);;
}

.ul1 {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.li1 {
    margin-left: 20px;
    padding: 22px;
    text-align: center;
    color: rgb(1, 1, 61);
    font-size: 18px;
}
.li2 {
    margin-left: 20px;
    padding: 22px 22px 22px 0px;
    text-align: center;
    color: rgb(1, 1, 61);
    font-size: 25px;
}



.ul2 {
    display: flex;
    align-items: center;
    background-color: rgb(201, 19, 19);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header_imagen {
    margin: 0 0px 0 10px;
}


.imagen_banner {
    height: 70px;
    width: 70px;
}

.container1 {
    margin: 0;
}
.container2 {
    background-color: rgb(247, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.box3{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p_titulos{
    color: rgb(1, 1, 61);
    font-size: 30px;
    font-weight: 400;
    margin: 40px 0px 20px;
}

.p_palabaras{
    font-size: 17px;
}

.txt_analizar{
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.btn_analizar{
    background-color: rgb(7, 6, 107);
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 10px;
}

.h2{
    color: rgb(1, 1, 61);
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.h3{
    color: rgb(1, 1, 61);
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center ;
}