<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio de Sesión</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='CSS/inicio_de_sesion.css')}}" />
  </head>
  <body>
    <div class="inicio-de-sesion">
      <div class="container-27">
        <div class="container">
          <div class="button-52">
            <img class="arrow-left" src="../assets/vectors/arrow_left_x2.svg" />
          </div>
          <div class="image">
          </div>
          <div class="comment-analyze-1">
          Comment Analyze
          </div>
        </div>
        <div class="inicia-sesion">
        Inicia sesión
        </div>
        <div class="comment-analyze">
        Comment Analyze
        </div>
        <div class="textbox-31">
          <div class="usuario">
          Usuario
          </div>
          <div class="textfield-1">
            <span class="example-emailgmail-com">
            example.email@gmail.com
            </span>
          </div>
        </div>
        <div class="textbox-3">
          <div class="contrasea">
          Contraseña
          </div>
          <div class="textfield">
            <span class="example-password">
            example.password
            </span>
          </div>
        </div>
        <div class="line-5">
        </div>
        <div class="button-7">
          <span class="continua">
          Continua
          </span>
          <img class="arrow-right" src="../assets/vectors/arrow_right_x2.svg" />
        </div>
        <p class="no-tienes-una-cuenta-registrate">
        <span class="no-tienes-una-cuenta-registrate-sub-0"></span><span></span>
        </p>
      </div>
      <div class="container-159">
        <div class="circle-1">
          <img class="vector-4" src="../assets/vectors/vector_x2.svg" />
        </div>
        <div class="image-1">
        </div>
        <div class="line-34">
        </div>
      </div>
    </div>
  </body>
</html>