<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./CSS/logins.css')}}">
</head>

<body>
    <div>
        <div class="container"> 
                <div class="boxsin">        
                    <div class="inicio">
                        <div class="inicio1_1">  
                            <input  class="boton1" type="button" name="boton_regresar" value = " Atras ">
                        </div>
                        <div class="inicio1_2">
                            <!--
                            <img src="../assets/images/image.png" class="imagen_banner">
                            -->
                            <img src="{{url_for('static', filename='./Images/image.png')}}" class="imagen_banner">
                        </div>
                        <div class="inicio1_3">
                            <p class="text1">Comment Analyze</p>
                        </div>
                    </div>
                    <div class="inicio3">
                        <br>
                        <br>
                        <br>
                    
                        <p class="h1_pag2">Inicia Sesión</p>
                        <p class="h1_pag1">Comment Analyze</p>
                        <br>
                        <br>
                        <p class="text">Usuario</p>
                        <p class="espaciado" align="center"><input  class="textobox"  type="text"></p>
                        <p class="text">Contraseña</p>
                        <p class="espaciado" align="center"><input class="textobox" type="text"></p>
                        <br>
                        <br>
                        <br>
                        <hr>   
                        <br>
                        <input class="boton2" type="button" name="boton_continuar" value=" Continua ->">
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p class="text2">¿No tienes una cuenta? Registrate</p>
                        
                    </div>
                      
                </div>
                <div class="boxsin12">
                    <br>
                    <br>
                    <br>
                    <br>
                    <p align="center"><img src="{{url_for('static', filename='./Images/image_1.png')}}" class="imagen1"></p>

                    <hr>
                </div>
        </div>
    </div>

</body>

</html>