<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" href="{{url_for('static', filename='./CSS/logins.css')}}">
</head>

<body class="body">
    <div>
        <div class="container"> 
                <div class="boxsin">        
                    <div class="inicio">
                        <div class="inicio1_1">  
                        <a href="/PaginaInicial"><input  class="boton1" type="button" name="boton_regresar" value = " Atras "></a>
                        </div>
                        <div class="inicio1_2">
                            <img src="{{url_for('static', filename='./Images/image.png')}}" class="imagen_banner">
                        </div>
                        <div class="inicio1_3">
                            <p class="text1">Comment Analyze</p>
                        </div>
                    </div>
                    <div class="inicio3">
                        <br><br>
                        <p class="h1_pag2">Registrate</p>
                        <p class="h1_pag1">Comment Analyze</p>
                        <br><br>
                        <form action="/Registrarse" method="POST" onsubmit="return validarFormulario()">
                            <p class="text">Nombres</p>
                            <p class="espaciado" align="center"><input  class="textobox" name="nombres"  type="text" id="txt_nombres" placeholder="Nombres..."></p>         
                            <p class="text">Apellidos</p>
                            <p class="espaciado" align="center"><input  class="textobox" name="apellidos"  type="text" id="txt_apellidos" placeholder="Apellidos..."></p> 
                            <p class="text">Usuario</p>
                            <p class="espaciado" align="center"><input  class="textobox" name="usuario"  type="text" id="txt_usuario" placeholder="Usuario..."></p>
                            <p class="text">Contraseña</p>
                            <p class="espaciado" align="center"><input class="textobox"  name="password" type="password" id="txt_password" placeholder="Contraseña..."></p>
                            <p class="text">Repetir Contraseña</p>
                            <p class="espaciado" align="center"><input  class="textobox" name="rpassword" type="password" id="txt_rpassword" placeholder="Contraseña..."></p>
                            <br>
                            <hr>   
                            <br>
                            <input class="boton2" type="submit"  name="boton_continuar" value=" Crear Cuenta " id="btn_crearcuenta">
                        </form>
                        <script type="text/javascript">
                            function validarFormulario() {
                                let nombres = document.getElementById("txt_nombres").value;
                                let apellidos = document.getElementById("txt_apellidos").value;
                                let usuario = document.getElementById("txt_usuario").value;
                                let password = document.getElementById("txt_password").value;
                                let rpassword = document.getElementById("txt_rpassword").value;
                    
                                if (nombres === "" || usuario === "" || password === "" || rpassword === "") {
                                    alert("Por favor, complete todos los campos.");
                                    return false;
                                }
                    
                                if (password !== rpassword) {
                                    alert("Las contraseñas no coinciden.");
                                    return false;
                                }

                                if (password.length < 8){
                                    alert("La contraseña debe tener minimo 8 caracteres");
                                    return false;
                                }
                    
                                return true;
                            }
                        </script>
                    </div>
                      
                </div>
                <div class="boxsin12">
                    <br><br><br><br>
                    <p align="center"><img src="{{url_for('static', filename='./Images/image_1.png')}}" class="imagen1"></p>
                    <hr>
                </div>
        </div>
    </div>
</body>
</html>